<template>
  <div class="row">
    <Movie v-for="movie in movies" v-bind:movie="movie" v-bind:key="movie.id"></Movie>
  </div>
</template>

<script>
import Movie from './Movie';
import utils from './utils';

export default {
  name: 'MovieList',

  components: {
    Movie,
  },

  props: ['movies'],

  methods: {
    getMovies(data) {
      const movieItems = data.results;
      let movieDate;
      let movieItem;
      let movieData = {};

      /* eslint-disable no-plusplus */
      for (let i = 0, len = movieItems.length; i < len; i++) {
        movieItem = movieItems[i];
        movieDate = utils.formateDate(movieItem.release_date);
        movieData = {
          overview: movieItem.overview,
          poster: movieItem.poster_path,
          releaseDate: movieDate,
          title: movieItem.title,
          voteAverage: movieItem.vote_average,
        };
        this.movies.push(movieData);
      }
      /* eslint-enable no-plusplus */
    },
  },
};
</script>
