<template>
  <div class="row">
    <div class="page-header">
      <h1>Now Playing</h1>
    </div>
    <pagination for="movie-list" :per-page="perPage" :records="totalPages"></pagination>
    <MovieList v-bind:movies="movies" v-bind:key="movies.id"></MovieList>
    <pagination for="movie-list" :per-page="perPage" :records="totalPages"></pagination>
  </div>
</template>

<script>
import { Pagination, PaginationEvent } from 'vue-pagination-2';
import Movie from './Movie';
import MovieList from './MovieList';
import utils from './utils';

export default {
  name: 'NowPlaying',

  components: {
    Movie,
    MovieList,
    Pagination,
  },

  data() {
    return {
      movies: [],
      movieListPage: 1,
      perPage: 20,
      totalPages: 0,
      totalRecords: 0,
    };
  },

  created() {
    this.fetchData();
  },

  methods: {
    getData(data) {
      this.movies = data.results;

      return this.movies;
    },

    getMovies(data) {
      const imgBasePath = 'https://image.tmdb.org/t/p/w500';
      const movies = data.results;
      let movie;
      let movieData = {};
      let movieDate;

      this.totalPages = data.total_pages;
      this.totalRecords = data.total_records;

      /* eslint-disable no-plusplus */
      for (let i = 0, len = movies.length; i < len; i++) {
        movie = movies[i];
        movieDate = utils.formatDate(movie.release_date);
        movieData = {
          overview: movie.overview,
          poster: imgBasePath + movie.poster_path,
          releaseDate: movieDate,
          title: movie.title,
          voteAverage: movie.vote_average,
        };
        this.movies.push(movieData);
      }
      /* eslint-enable no-plusplus */
    },

    fetchData() {
      const endpoint = new Request(`https://api.themoviedb.org/3/movie/now_playing?language=en-US&api_key=9084eae9f770e006ebcba95dbd474e28&page=${this.movieListPage}`, {
        method: 'GET',
      });

      fetch(endpoint)
        .then(res => utils.getResponse(res))
        .then(data => this.getMovies(data))
        .then(err => utils.getError(err));
    },

    changePage() {
      PaginationEvent.$on('vue-pagination::movie-list', (page) => {
        this.movieListPage = page;
        this.movies = [];
        this.fetchData();
      });
    },
  },

  mounted() {
    this.changePage();
  },
};
</script>
