<template>
  <div id="app">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">The Movie Database API</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><router-link :to="{ name: 'NowPlaying' }">Now Playing</router-link></li>
            <li><router-link to="/movie-search">Movie Search</router-link></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import MovieSearch from './components/MovieSearch';
import NowPlaying from './components/NowPlaying';

export default {
  name: 'app',

  components: {
    MovieSearch,
    NowPlaying,
  },
};
</script>

<style>
#app {
  margin-top: 60px;
}
</style>
